
body{
  font-family: Montserrat;
}
#title{
  background-color: #ff4c68;
  color: #fff;
}
 h1{
   font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
 }
 .container-fluid
 {
   padding: 3% 10% 7%;
 }
 .navbar-brand
 {
   font-family: Ubuntu;
   font-weight: bold;
   font-size: 1.5rem;
 }
.navbar{
  padding: 0 0 4.5rem 0;
}
.nav-item
{
  padding: 0 18px;
}
.nav-link
{
  font-family: Montserrat;
  font-size: 1.25rem;
}
.download-button
{
  margin: 5% 3% 5% 0;
}
.title-image{
 width: 60%;
 transform: rotate(25deg);
 position: absolute;
 right: 30%;

}
.fa-solid
{
  color: #ef8172;
  padding: 0 0 4% 0;

}
@media (max-width : 980px)  {
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0deg);
  }

}
h3{
  font-family: Montserrat;
  line-height: 1.5;

}
p{
  color: grey;
  font-family: Ubuntu;
}
.fa-solid:hover
{
  color: #ff4c88;
}
#features
{
  padding: 7% 15% ;
  background-color: #fff;
  position: relative;
  z-index: 1;



}
.feature-box
{
  text-align: center;
  padding: 5%;
}
#testimonials
{
  text-align: center;

  background-color: #ef8172;
  color: #fff;
}
.testimonial-image{
  width: 20%;
  border-radius: 100%;
  margin: 15px;


}
.carousel-item{
  padding: 7% 15%;

}
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-image{
  width: 15%;
  margin: 20px 15px 50px 15px;
}
#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-card {
  padding: 3% 3%;
}
#cta{
  background-color: #ff4c68;
  text-align: center;
  color: #fff;
  padding: 5% 0 0 0;
}
#footer{
  text-align: center;
  padding: 4%;
}
.icon{
  padding: 2%;
}
